* {
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
}

body header {
  position: relative;
  text-align: center;
}

body header p {
  display: block;
  margin: 0 0 0 0px;
  font-family: Lobster;
  font-size: 85px;
}

body header img {
  width: 180px;
  margin: 25px 0 0 0;
}

#locations {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:darkslategrey;
}

#locations tr {
  /* border-bottom: 1pt solid black; */
  height: 39px;
}

#locations tr td {
  border-bottom: 1pt solid black;
  padding: 10px;
}

#locations tr:last-child td {
  border-bottom: 0;
}

#family {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body main p{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  color: hotpink;
}

body main p:first-of-type {
  display: inline-block;
  position: absolute;
  transform: rotate(25deg) translateX(700px) translateY(-675px);
}

body main p:nth-of-type(2) {
  display: inline-block;
  position: absolute;
  width: 300px;
  transform: rotate(-25deg) translateX(500px) translateY(-150px);
}

body main p:last-of-type {
  display: inline-block;
  position: absolute;
  transform: translateX(650px) translateY(-425px);
}

body footer {
  margin: 25px 50px;
  text-align: center;
}

#salesData {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

#newLocationData {
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#salesData tr {
  height: 50px;
}

#salesData td {
  width: 50px;
  text-align: center;
  border: 1pt solid peru;
  vertical-align: middle;
  color: purple;
}

#cutter {
  width: 175px;
  margin: 50px 50px 0 400px;
}

#fishShirt {
  width: 175px;
  margin: 0 75px 0 25px;
}

#frostedCookie {
  margin: 0 50px 0 25px;
}