* {
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
}

body header {
  position: relative;
  text-align: center;
}

body header p {
  display: inline-block;
  margin: 0 0 0 100px;
  font-family: Lobster;
  font-size: 100px;
}

body header img {
  width: 200px;
  margin: 25px;
  position: absolute;
  top: 25%;
  left: 00%;
  transform: translate(0%, -50%);
  z-index: -1;
}

